<section>
  <!-- <h2>Aliquam sed mauris</h2>
  <p>Sed lorem ipsum dolor sit amet et nullam consequat feugiat consequat magna adipiscing tempus etiam dolore veroeros. eget
    dapibus mauris. Cras aliquet, nisl ut viverra sollicitudin, ligula erat egestas velit, vitae tincidunt odio.</p>
  <ul class="actions">
    <li>
      <a href="#" class="button">Learn More</a>
    </li>
  </ul> -->
  <ul class="icons">

    <li>
      <a href="https://in.linkedin.com/in/jibinmathews7" class="icon fa-linkedin alt" target="_blank">
        <span class="label">LinkedIn</span>
      </a>
    </li>
    <li>
      <a href="https://github.com/jazzyarchitects" class="icon fa-github alt" target="_blank">
        <span class="label">GitHub</span>
      </a>
    </li>
    <li>
      <a href="http://stackoverflow.com/users/3788083/jazzy-architects" class="icon fa-stack-overflow alt" target="_blank">
        <span class="label">Stack Overflow</span>
      </a>
    </li>
  </ul>
  <ul class="icons">
    <li>
      <a href="https://www.facebook.com/jibin.mathews7" class="icon fa-facebook alt" target="_blank">
        <span class="label">Facebook</span>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/jibo_lives/" class="icon fa-instagram alt" target="_blank">
        <span class="label">Instagram</span>
      </a>
    </li>
    <li>
      <a href="https://medium.com/@jibinmathews7" class="icon fa-medium alt" target="_blank">
        <span class="label">Medium</span>
      </a>
    </li>
  </ul>

  <ul class="icons">
    <li>
      <a href="skype:jibinmathews7?add" class="icon fa-skype alt" target="_blank">
        <span class="label">Skype</span>
      </a>
    </li>
    <li>
      <a href="tel:+918877073355" class="icon fa-whatsapp alt" target="_blank">
        <span class="label">Whatsapp</span>
      </a>
    </li>
    <li>
      <a href="https://angel.co/jibin-mathews" class="icon fa-angellist alt" target="_blank">
        <span class="label">Angel List</span>
      </a>
    </li>
  </ul>
</section>
<section>
  <h2>Contact Me</h2>
  <dl class="alt">
    <dt>Address</dt>
    <dd>Rentomojo, Bengaluru</dd>
    <dt>Phone</dt>
    <dd>+91-8877073355</dd>
    <dt>Email</dt>
    <dd>
      <a href="mailto:jibinmathews7@gmail.com">jibinmathews7@gmail.com</a>
      <br />
      <a href="mailto:jibin.mathews@blockcluster.io">jibin.mathews@blockcluster.io</a>
      <br />

    </dd>
  </dl>
  <!-- <ul class="icons">
    <li>
      <a href="#" class="icon fa-twitter alt">
        <span class="label">Twitter</span>
      </a>
    </li>
    <li>
      <a href="#" class="icon fa-facebook alt">
        <span class="label">Facebook</span>
      </a>
    </li>
    <li>
      <a href="#" class="icon fa-instagram alt">
        <span class="label">Instagram</span>
      </a>
    </li>
    <li>
      <a href="#" class="icon fa-github alt">
        <span class="label">GitHub</span>
      </a>
    </li>
    <li>
      <a href="#" class="icon fa-dribbble alt">
        <span class="label">Dribbble</span>
      </a>
    </li>
  </ul> -->
</section>
<!-- <p class="copyright">&copy; JazzyArchitects</p> -->
